@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="./images/DominosPizza.svg.png" alt="logo">

</div>
<br />
<div>
    <img src="./images/image.jpg" alt="Pizza" width="550" height="500" />
    <img src="./images/offer.jpg" alt="offer" width="550" height="500" />
</div>

<br />
<div class="text-center">
    <p>Domino's is an American multinational pizza restaurant chain. Founded in 1960, the chain is owned by master franchisor Domino's Pizza, Inc and led by CEO Russell Weiner. The corporation is Delaware-domiciled and headquartered at the Domino's Farms Office Park in Ann Arbor Township, near Ann Arbor, Michigan. As of 2018, Domino's had approximately 15,000 stores, with 5,649 in the United States, 1,500 in India, and 1,249 in the United Kingdom. Domino's has stores in over 83 countries and 5,701 cities worldwide.</p>
</div>
<div class="text-center">
    <b style="color:blue;text-align:left;font-size:medium">Pizza Restaurant In Bangalore</b>
    <p>Pizza is unarguably one of the most common and popular available options when it comes to comfort food. But are all pizzas created the same? Well, certainly not. The taste, texture, and quality vary significantly from one pizza place to another. Hence, if you’re a pizza lover residing in Bangalore, ensure you don’t just order any random pizza. Get the best from a popular pizza place like Domino’s.
    </p>
</div>
<div class="text-center">
    <b style="color:blue;text-align:left;font-size:medium">Best Pizza Restaurant In Bangalore</b>
    <p>
        With so many restaurants in the city, settling with one of the best restaurant in Bangalore, near you can be challenging. But it isn’t impossible either. When people think of fresh and delicious pizzas, they automatically think of Domino’s, and rightly so. Domino’s has been serving the freshest pizzas to people since its inception, and the launch of new, unique menu items keep people interested and hooked to the pizza chain. Besides offering the most extensive range of veg and non veg pizza, Domino’s also maintains the highest hygiene and baking standards. If you want to relish some delicious yet freshly-baked pizzas, you can head straight to Domino’s.
        upgrade your regular veg pizza by adding more cheese and vegetable toppings or changing the pizza base for enhanced taste. With so many reasons to stick to Domino’s, the nearby best pizza shop 176, why look for other pizza restaurants?

    </p>
</div>
<div class="text-center">
    <b style="color:blue;text-align:left;font-size:medium">Explore Different Cuisines At Best Prices</b>
    <p>
        The world of food has an impressive range of options to offer. From exotic French cuisine to flavor-filled Indian cuisine- there’s a lot for people to explore. But from all the available options, one cuisine that never disappoints people is Italian. Whether you prefer your food mildly spicy or filled with primary flavors, Italian dishes offer them all. Of all the Italian dishes available, pizza seems to have wowed people worldwide. It has also made many looks for the best Italian pizza restaurants in Bangalore. However, you’re free to explore more options or dishes within Italian cuisine & CUNNINGHAM,
    </p>
</div>
<div class="text-center">
    <b style="color:blue;text-align:left;font-size:medium">
        Dine-In Restaurants In Bangalore
    </b>
    <p>
        A fun fact about food is that it tastes better in a well-organized and pleasant environment. It is why many people still prefer to choose dine-in over home delivery. If you’re planning to have a well-planned evening or end the weekend on a delicious note, look for the best restaurants in your city. When in doubt, always look out for the
    </p>

    <p>
        Domino’s offers and discounts in Bangalore are generally quite generous and are available throughout the year. You must try to keep an eye on the discounts and offer section on Domino’s website and mobile app. These coupons and offers can be used when you place Domino’s pizza orders online in Bangalore. Since Domino’s has been constantly ranked at the top by pizza lovers in the list of best pizza restaurants in Bangalore, you wouldn’t regret getting some pizza coupons.
        <br />
        <br />
        <b style="color:blue">Order Now, Get Domino’s Pizza Delivered At Your Doorstep</b><br />
        <br />
        If you’re craving some good food, order a piping hot pizza from one of the best pizza restaurants in Bangalore. You can either visit one of the top-rated restaurants near you or place an online order from their website or app. In either case, you will get to enjoy delicious pizzas. Order from one of the Domino’s restaurants near you to ensure you don’t get disappointed with the pizza quality, taste, and customer service. The online pizza ordering process is quite simple. You only need the official Domino’s mobile app or website to place an order.
        <br /><br />
        Once your order is successfully placed, you can expect to receive your order hot and fresh within 30-minutes. Since the Domino’s app and website both offer a simple ordering process, a pleasant ordering experience is guaranteed. So if you want to get the nearest Domino’s pizza to you, use the Domino’s app or website. Before proceeding to place Domino’s pizza order online Bangalore, don’t forget to search for the latest coupons online. Coupons and offers will help you save money on the total bill value. So download Domino’s app today and place your first order online. Domino’s is among the best pizza restaurants in Bangalore, so you will never regret ordering.
        <br />
        <br />
        <b style="color:blue">Why Choose Domino’s Pizza In Bangalore?</b>
        <br />
        <br />
        You order from any 176, best Dominos pizza stores in Bangalore. Domino’s is known for serving the widest range of pizzas in both veg and non veg categories. Besides offering variety, Domino’s is known for serving quality food at competitive prices. And if you have the latest coupons handy, you can get a discount at checkout, making Domino’s pizza more affordable. Depending on your personal, unique preference, you can also avail yourself of a 30-minute home delivery service or takeaway option or choose to dine in.
        Domino’s for dine-in is a better option if you want to enjoy your favorite pizza in a favorable setting. But if you’re willing to enjoy a pizza from the comfort of your home, proceed with the Domino’s pizza delivery option. Domino’s delivery executives are well-trained for professional, on-time delivery, so you can be sure of receiving your pizza fresh and hot. Besides dine-in and home delivery, you can also choose Domino’s pizza takeaway option if you’re on your way home and want to pick your favorite pizza without waiting in line.

    </p>
</div>
