@{
    ViewData["Title"] = "Privacy Policy";
}
<h3 style="color:brown;text-align:center">@ViewData["Title"]</h3>

<div>
    <h4 style="text-align:left;color:red;font:bolder" >Dominos Pizza Terms Of Use</h4>

    <p>
        THESE TERMS AND CONDITIONS APPLY TO THE DOMINOS (INDIA). PLEASE READ THIS STATEMENT CAREFULLY.IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS THEN YOU SHOULDNOT ACCESS THIS SITE. ACCESS OF THIS SITE/ APP BY YOU SHALL BE DEEMED TO HAVEPROVIDED YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS INCLUDING SHARING OFPERSONAL INFORMATION WITH THIRD PARTIES FOR PURPOSES STATED HEREIN.
    </p>
<p>
    Yum Restaurants India (Private) Limited (“hereinafter referred to as either, Company, We,Us, or Our”) is committed to protecting the privacy of personal data or information(“Personal Information”) you may provide Us on the website, the app, or the m-site (“theSite”). We believe it is important for you to know how We treat your Personal Information.The terms of this Privacy Policy apply to all users of this Site. If you do not agree with theterms of this Privacy Policy, you should immediately cease the use of this Site.
</p>

    <p>Below you will find answers to several questions regarding Our Privacy Policy.</p>
    <b>What Information Does Company Collect About Me?</b><br />

    <p>
        The company collects personally identifiable information that you may voluntarily provide ononline forms, which may include user registration, contact requests, guest comments, onlinesurveys, and other online activities. The personally identifiable information (PersonalInformation) collected on this Site/App can include some or all the following: your name,address, telephone number, email addresses, demographic information, and any otherinformation you may voluntarily provide. You will have the choice whether to disclose suchPersonal Information in the above activities; however, some parts of the Site/App and someservices may be more difficult or impossible to use if you choose not to disclose PersonalInformation. Company collects Personal Information that you may voluntarily provide on onlineforms, which may include: Name, phone number, email ID, address, latitude, longitude, userregistration, contact requests, guest comments, online surveys, and other online activities. ThePersonal Information collected on this Site may include some or all of the following: your name,address, telephone number, email addresses, demographic information, and any otherinformation you may voluntarily provide. You will have the choice whether or not to disclosesuch Personal Information in the above mentioned activities; however, some parts of the Siteand some services may be more difficult or impossible to use if you choose not to disclosePersonal Information. At the time of registration or placing an order, you will have the optionto choose whether to receive or not receive future offers and updates from us by recording yourpreference by selecting the check box available at the registration and check-out page. If youchoose to opt-in, your Personal Information will be kept in a secured database and we will alertyou via email to new features, special offers, updated information and new services.Transaction information such as items purchased, date and time of your transaction, amountpurchased, whether you used a particular coupon, deal or gift card, when you make an in-storeor online purchase. We use this information to fulfill your order and complete your transaction,update your rewards, detect, and prevent fraud, and to inform our advertising and marketing.In addition to the Personal Information identified above, our web servers automatically identifycomputers by their IP addresses. Company may use IP addresses to analyze trends, administerthe Site, track users’ movement, and gather broad demographic information for aggregate use.Further, our site may use technologies such as cookies to provide visitors with tailoredinformation upon each visit. Cookies are a common part of many commercial websites thatallow small text files to be sent by a website, accepted by a web browser, and then placed onyour hard drive as recognition for repeat visits to the Site. Every time you visit Our Site, ourservers, through cookies, pixels and/or GIF files, collect basic technical information such as yourdomain name, the address of the last URL visited prior to clicking through to the Site, and yourbrowser and operating system. You do not need to enable cookies to visit Our Site; however,some parts of the Site and some services may be more difficult or impossible to use if cookiesare disabled. It does not contain your name, address, telephone number, or email address.
    </p>



    <b>
        What Does Company Do With The Information Collected?
    </b><br />
    <p>
        Company may use your Personal Information for any of the following purposes:
    </p>
    <b>
        What Does Company Do With The Information Collected?
    </b>

    <ul>
        <li>To understand the use of the Site and make improvements</li>
        <li>To fulfil prizes</li>
        <li>To register visitors for online activities they choose to participate in such as: contests, surveys,employment applications, comment forms, or any other online interactive activitiesTo respond to specific requests from visitors
        </li>
        <li>
            To protect the security or integrity of the Site if necessary
        </li>
        <li>
            To send notices (if consent is provided) of special promotions, offers or solicitations; and ingeneral (if consent is provided), to promote and market Company’s business and variousproducts
            </li>
        <li>
            To share with third party vendors of the Company with whom contractual arrangements areentered into, and in line with this Privacy Policy
        </li>
    </ul>
 
    <b> With Whom Does Company Share The Information?</b>


    <p>
        Company is a part of Yum! Brands, Inc. (“Yum Brands”). Yum Brands includes Yum! Brands, Inc. (Yum Brands). Yum Brands includes KFC U.S. Properties, Inc., Taco Bell Corp., Dominos Pizza, Inc., The Habit Burger Grill and Yum Restaurants International, Inc. Company may share Personal Information collected on this Site with any member of Yum Brands, its franchisees, and any other future subsidiaries or affiliates. This Privacy Policy applies if Company shares your Personal Information collected on this Site with any other Yum Brands members. If you choose to provide your Personal Information to other members of Yum Brands through their respective websites, then the respective privacy policies will apply. Company will not sell, rent, loan, transfer, or otherwise disclose any Personal Information to third parties except as set forth in this statement. Company may share Personal Information with third parties under the following circumstances:
    </p>



</div>


